@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&display=swap');

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 80%;
}
  
/* Track
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 5px 5px 0;
}
  
/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #a7a4a5;
    margin-top: 20px;
    border-radius: 30px;
} */   

.Databanner{
    width: 98%;
    padding: 1%;
    display: flex;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #201E1F;
    z-index: 10;
}

.Staffcount{
    flex: 1;
}

.Coursecount{
    flex: 1;
}

.labelName{
    font-family: 'Audiowide', sans-serif;
    font-size: 30pt;
    color: #E6AF2E;
}

.Numberbanner{
    font-size: 42pt;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.consoleListItem{
    width: 98%;
    padding: 1%;
}

.cliName{
    font-size: 15pt;
    margin-top: 10px;
    transition: ease-in-out 0.3s;
    font-family: 'Mulish', sans-serif;
    width: 86%;
    float: left;
}

.cliName:hover{
    color: #E6AF2E;
}

.consoleOptions{
    height: fit-content;
    width: 35vw;
    border-radius: 5%;
    margin: 5vw;
    /* margin-top: 10vw; */
    padding: 2vw;
    height: fit-content;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ConsoleAlert{
    margin-top: calc(80vh);
    right: 0;
    position: fixed;
    top: 0;
    height: 50px;
    width: 30vw;
    font-size: 20pt;
    background-color: #50B2C0;
    color: black;
}

.consoleListSubject{
    width: 86vw;
    height: fit-content;
    max-height: 80vh;
    border-radius:2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.consoleListName{
    width: 86vw;
    height: fit-content;
    max-height: 80vh;
    border-radius:2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 14vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 800px){
    .consoleOptions{
        float: unset;
        width: 85vw;
        margin-top: 26vw;
    }

    .labelName{
        font-size: 18pt;
    }

    .Numberbanner{
        font-size: 30pt;
    }
}