@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&display=swap');

@keyframes slide-in-bck-bottom {
    0% {
      -webkit-transform: translateZ(700px) translateY(300px);
              transform: translateZ(700px) translateY(300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
.adminLogin{
    animation: slide-in-bck-bottom 0.6s;
}

.FormSide{
    width: 50%;
    padding-left: 20%;
    height: 100vh;
    float: left;
}

.SVGSide{
    width: 30%;
    height: 100vh;
    background-image: linear-gradient(to top right, #50B2C0, white, white);
    float: left;
}

.svgHolder{
    width: 40%;
    margin-left: 4%;
    margin-top: 5%;
    position: absolute;
}

.FormLabel{
    font-size: 45pt;
    font-family: 'Kanit', sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: rgb(179, 179, 179);
    margin-top: 15vh;
    width: fit-content;
}