@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.navTop{
    background-color: #201E1F;
    overflow: hidden;
    padding: 7px;
    padding-bottom: 2px;
}

.navLogo{
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: white;
}

.navName{
    float: left;
    padding: 7px 7px 7px 20px;
    text-transform: lowercase;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    color: #50B2C0;
    font-weight: bold;
    letter-spacing: 1.5px;
    transition: ease-out 0.2s;
}

.navName:hover{
    letter-spacing: 2px;
}

.navAdmin{
    float: right;
    margin: 0.6% 2% 0.7% 0;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #FEEFDD;
    transition: ease-in-out 0.1s;
    color: black;
}

.navButton{
    font-family: 'Mulish', sans-serif;
    text-transform: lowercase;
    font-size: 15pt;
    width: inherit;
    height: inherit;
    font-weight: bold;
    border-radius: inherit;
    background-color: inherit;
    border: none;
    transition: ease-in-out 0.3s;
    letter-spacing: 1.5px;
}

.navAdmin:hover{
    background-color: #FF4000;
    color: white;
}