@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

.topArea{
  height: fit-content;
  background-color: #201E1F;
  width: 100vw;
  display: flex;
  padding: 2% 0 2% 0;
}

.titleArea{
  background-color: #201E1F;
  flex: 10;
  float: left;
  font-size: calc(100vh/15);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #E6AF2E;
}

.IconHolder{
  position: absolute;
  padding: 2%;
  align-items: center;
}

.Menuanimate{
  animation: slide-in-top 1.5s;
}

@media only screen and (max-width: 600px){
  .titleArea{
    font-size: 20pt;
  }

  .IconHolder{
    position: relative;
    background-color: #201E1F;
    width: 100vw;
    text-align: center;
  }
}